## BACK END ##
./FrontEnd/processos_api/HELP.md
./FrontEnd/processos_api/target/
!./FrontEnd/processos_api/.mvn/wrapper/maven-wrapper.jar
!**./FrontEnd/processos_api/src/main/**/target/
!**./FrontEnd/processos_api/src/test/**/target/

### STS ###
./FrontEnd/processos_api/.apt_generated
./FrontEnd/processos_api/.classpath
./FrontEnd/processos_api/.factorypath
./FrontEnd/processos_api/.project
./FrontEnd/processos_api/.settings
./FrontEnd/processos_api/.springBeans
./FrontEnd/processos_api/.sts4-cache

### IntelliJ IDEA ###
./FrontEnd/processos_api/.idea
*./FrontEnd/processos_api/.iws
*./FrontEnd/processos_api/.iml
*./FrontEnd/processos_api/.ipr

### NetBeans ###
./FrontEnd/processos_api//nbproject/private/
./FrontEnd/processos_api//nbbuild/
./FrontEnd/processos_api//dist/
./FrontEnd/processos_api//nbdist/
./FrontEnd/processos_api//.nb-gradle/
./FrontEnd/processos_api/build/
!**./FrontEnd/processos_api/src/main/**/build/
!**./FrontEnd/processos_api/src/test/**/build/

### VS Code ###
.vscode/

## FRONT END ##
./FrontEnd/front_processos/.idea/
./FrontEnd/front_processos/.vscode/
./FrontEnd/front_processos/node_modules/
./FrontEnd/front_processos/build
./FrontEnd/front_processos/.DS_Store
./FrontEnd/front_processos/*.tgz
./FrontEnd/front_processos/my-app*
./FrontEnd/front_processos/template/src/__tests__/__snapshots__/
./FrontEnd/front_processos/lerna-debug.log
./FrontEnd/front_processos/npm-debug.log*
./FrontEnd/front_processos/yarn-debug.log*
./FrontEnd/front_processos/yarn-error.log*
./FrontEnd/front_processos/.changelog
./FrontEnd/front_processos/.npm/
./FrontEnd/front_processos/yarn.lock